# Node.js dependencies
node_modules/
dist/
.build/
.tmp/
.nyc_output/
coverage/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript
*.tsbuildinfo
tsconfig.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
turbo-debug.log*

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# Yarn & package managers
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.pnp*
.pnp.js

# Jest & testing
jest-cache/
jest-output/
coverage/

# Docker
docker-compose.override.yml
.vercel
